.grid {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  grid-gap: $grid-gutter-width;
}

.cell {
  grid-column: span $grid-columns;
}

@mixin gridColMxn($breakpoint: '') {
  $breakpoint: if($breakpoint == '', '', $breakpoint + '-');

  @for $i from 1 through $grid-columns {
    .cell-#{$breakpoint + $i} {
      grid-column: span #{$i};
    }
  }
}

@include gridColMxn();

@each $key, $value in $grid-breakpoints {
  @include media-breakpoint-up($key) {
    @include gridColMxn($key);
  }
}
