.c-cookies-alert {
  @apply rounded;
  @apply bg-gray-700;
  @apply text-white;
  @apply p-4;
  @apply mr-4;
  @apply mb-4;

  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 280px;
  max-width: 100%;

  &.is-active {
    display: block;
  }
}
