{% set page = homePage %}
{% extends "_layouts/_master.njk" %}

{% block main -%}

  <div class="container my-2">
    <div data-js="ReactHelloWorld"></div>
  </div>

  <section class="container my-2">
    {{ CardDeck({
      "title": "Blocks",
      "cards": [
        {
          "heading": "Accordion",
          "cta": {
            "label": "See examples",
            "link": "/blocks/accordion.html"
          }
        },
        {
          "heading": "Card Deck",
          "cta": {
            "label": "See examples",
            "link": "/blocks/card-deck.html"
          }
        },
        {
          "heading": "Hero",
          "cta": {
            "label": "See examples",
            "link": "/blocks/hero.html"
          }
        },
        {
          "heading": "Image Tiles",
          "cta": {
            "label": "See examples",
            "link": "/blocks/image-tiles.html"
          }
        },
        {
          "heading": "Spread",
          "cta": {
            "label": "See examples",
            "link": "/blocks/spread.html"
          }
        }
      ]
    }) }}
  </section>

{%- endblock %}