node_modules
yarn-error.log

## Typescript report files
report.*.json

## Static build folder
_static
static

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# Ignore any Umbraco folders that may be generated into the boilerplate by accident
Umbraco