$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
$column-spacing: 1rem !default;
$column-breakpoint-spacings: () !default;
$container-max-width: 1140px !default;

.container,
.container-fluid {
  max-width: 100%;
  padding-left: $column-spacing;
  padding-right: $column-spacing;
}

.container {
  width: $container-max-width;
  margin-right: auto;
  margin-left: auto;
}

@each $key, $value in $breakpoints {
  @include breakpoint($key) {
    @if map-has-key($column-breakpoint-spacings, $key) {
      .container,
      .container-fluid {
        padding-left: map-get($column-breakpoint-spacings, $key);
        padding-right: map-get($column-breakpoint-spacings, $key);
      }
    }
  }
}
