.l-grid {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  grid-gap: $grid-gutters;

  > .l-grid__item {
    grid-column: span $grid-columns;
  }
}

.l-grid--no-gutters {
  grid-gap: 0;
}

@for $i from 1 through $grid-columns {
  .l-grid > .l-grid__item--col-span-#{$i} {
    grid-column: span #{$i};
  }
}

@for $i from 1 through $grid-rows {
  .l-grid > .l-grid__item--row-span-#{$i} {
    grid-row: span #{$i};
  }
}

@each $key, $value in $breakpoints {
  @include breakpoint($key) {
    @for $i from 1 through $grid-columns {
      .l-grid > .l-grid__item--col-span-#{$i}\@#{$key} {
        grid-column: span #{$i};
      }
    }
  }
}
