.l-page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.l-page__footer {
  margin: auto 0 0;
}

.l-page--fixed-header {
  .l-page {
    padding: 72px 0 0;
  }

  .l-page__header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 72px;
  }
}
