<div class="cookies-consent" role="dialog" data-js="CookieConsent">
  <div class="cookies-consent__dialog">
    <button type="button" class="cookies-consent__close js-close" aria-label="Close">
      <span class="fas fa-times" aria-hidden="true"></span>
      <div class="sr-only">Close cookie consent dialog box</div>
    </button>

    <h5 class="h1">Cookie Consent</h5>

    <div class="cookies-consent__body">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum blanditiis ullam iste nesciunt exercitationem unde optio eligendi iure pariatur ut distinctio laborum, obcaecati, architecto ipsum, culpa ratione impedit accusamus eaque?</p>

      <p>
        <a href="#">Lorem ipsum dolor sit amet.</a>
      </p>
    </div>

    <button class="btn btn-primary js-accept" type="button">Accept</button>
  </div>
</div>