<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" title="Home" href="/">
      <img src="https://via.placeholder.com/140x40?text=LOGO" alt="Logo" width="140" height="40">
    </a>

    <button class="navbar-toggler" type="button" data-js="NavCollapse" data-js-options='[{"target": "#mainNav"}]' aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <span class="sr-only">Menu</span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/typography.html">Typography</a>
        </li>

        <li class="nav-item dropdown" data-js="Dropdown">
          <a class="nav-link dropdown-toggle js-toggler" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Blocks
          </a>

          <div class="dropdown-menu js-dropdown" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/blocks/accordion.html">Accordion</a>
            <a class="dropdown-item" href="/blocks/card-deck.html">Card Deck</a>
            <a class="dropdown-item" href="/blocks/hero.html">Hero</a>
            <a class="dropdown-item" href="/blocks/spread.html">Spread</a>
          </div>
        </li>
      </ul>

      <form class="form-inline mt-1 mt-lg-0 ml-lg-4">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary mt-1 mt-sm-0 ml-sm-1" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>