{% macro Spread(options) -%}

  {% set imageRight = " spread--img-right" if options.imageRight else "" %}
  {% set container = " container" if options.container else 
    "" %}

  <div class="spread{{ imageRight }}{{ container }}">
    <div class="spread__img">
      <picture class="js-lazy">
        <source media="(min-width: 768px)" data-srcset="https://picsum.photos/id/770/960"/>
        <source data-srcset="https://picsum.photos/id/770/768/500"/>
        <img data-src="https://picsum.photos/id/770/960" alt="" width="960" height="960"/>
      </picture>

      {% if options.img_caption %}
        <p class="spread__img-caption">{{ options.img_caption }}</p>
      {% endif %}
    </div>

    <div class="spread__text">
      <div class="container">
        {% if options.title %}
          <h2 class="h1">{{ options.title|safe }}</h2>
        {% endif %}

        {% if options.body_text %}
          {{ options.body_text|safe }}
        {% endif %}

        {% if options.cta.href and options.cta.label %}
          <a href="{{ options.cta.href }}" class="btn btn-primary">{{ options.cta.label }}</a>
        {% endif %}
      </p>
    </div>
  </div>
</div>

{%- endmacro %}

{{ Spread({
  "imageRight": false,
  "container": false,
  "title": "",
  "body_text": "",
  "cta": {
    "href": "",
    "label": ""
  },
  "img_caption": ""
}) }}