{% macro Spread(options) -%}

  {% set imageRight = " spread--img-right" if options.imageRight else "" %}
  {% set container = " container" if options.container else 
    "" %}

  <div class="spread{{ imageRight }}{{ container }}">
    <div class="spread__img">
      <picture class="js-lazy">
        <source media="(min-width: 768px)" data-srcset="https://picsum.photos/id/770/960"/>
        <source data-srcset="https://picsum.photos/id/770/768/500"/>
        <img data-src="https://picsum.photos/id/770/960" alt=""/>
      </picture>

      <p class="spread__img-caption">Caption</p>
    </div>

    <div class="spread__text">
      <div class="container">
        <h2 class="h1">{{ options.title|safe if options.title else 'Spread' }}</h2>
        <p>Sit ullam, qui, commodi ad voluptatibus, corporis accusantium ex nostrum quam maxime earum nam necessitatibus neque repellat soluta non atque amet totam recusandae. Quasi, quaerat itaque saepe temporibus, aspernatur fuga, officia a vero libero nihil officiis.</p>
        <a href="#" class="btn btn-primary">Find out more</a>
      </p>
    </div>
  </div>
</div>

{%- endmacro %}

{{ Spread({
  "imageRight": "",
  "container": false,
  "title": ""
}) }}