// HTML
$html-font-family: fontFamily(primary);
$html-line-height: 1.15;

// BODY
$body-bg-color: gray(f);
$body-color: gray(0);
$body-font-family: fontFamily(primary);
$body-font-size: 16px;
$body-font-weight: normal;
$body-line-height: 1.5;

// HEADINGS
$headings-margin-top: 0;
$headings-margin-bottom: spacing(base);

// PARAGRAPHS
$paragraph-margin-top: 0;
$paragraph-margin-bottom: spacing(base);

// LINKS
$link-color: inherit;
$link-hover-color: inherit;
$link-decoration: underline;
$link-hover-decoration: none;

// LISTS
$list-margin-top: 0;
$list-margin-bottom: spacing(base);

// ADDRESS
$address-margin-bottom: spacing(base);

$dt-font-weight: normal;
