// GRID
$grid-columns: 12;
$grid-rows: 2;
$grid-gutters: spacing(base);

// CONTAINERS

$container-max-width: 1140px;

$container-fixed-widths: (
  sm: 500px,
  md: 700px,
  lg: 940px,
  xl: 1140px
);

$container-gutters: (
  sm: spacing(base) * 2
);
