// HORIZONTAL GUTTER
// This sets the size of the horizontal gutters for containers and grids
$column-spacing: spacing(sm);

// HORIZONTAL GUTTERS FOR BREAKPOINTS
$column-breakpoint-spacings: (
  md: spacing(lg)
);

// GRID
$grid-columns: 12;

// CONTAINERS
$container-max-width: 1140px;
