{% extends "_layouts/_master.njk" %}

{% block main -%}

  {{ Spread({
    "title": "Spread<br><small class=\"text-muted\">Full Width / Image Left (default)</small>"
  }) }}

  {{ Spread({
    "imageRight": true,
    "title": "Spread<br><small class=\"text-muted\">Full Width / Image Right</small>"
  }) }}

  {{ Spread({
    "container": true,
    "title": "Spread<br><small class=\"text-muted\">In Container / Image Left</small>"
  }) }}

  {{ Spread({
    "imageRight": true,
    "container": true,
    "title": "Spread<br><small class=\"text-muted\">In Container / Image Right</small>"
  }) }}

{%- endblock %}