@mixin background($name, $main-color, $contrast-color) {
  .u-background-#{$name} {
    color: $contrast-color;
    background-color: $main-color;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a {
      color: $contrast-color;
    }
  }
}

@include background(primary, $color-primary, $color-dark);

@each $name, $colors in $brand-colors {
  @include background(
    $name,
    map-get($colors, main-color),
    map-get($colors, contrast-color)
  );
}
