@mixin displayMxn($breakpoint: '') {
  $breakpoint-suffix: if($breakpoint == '', '', '\\@' + $breakpoint);

  .d-none#{$breakpoint-suffix} {
   display: none;
  }

  .d-block#{$breakpoint-suffix} {
   display: block;
  }

  .d-inline-block#{$breakpoint-suffix} {
   display: inline-block;
  }

  .d-flex#{$breakpoint-suffix} {
   display: flex;
  }

  .d-inline-flex#{$breakpoint-suffix} {
   display: inline-flex;
  }

  .d-grid#{$breakpoint-suffix} {
   display: grid;
  }
}

@include displayMxn();

@each $key, $value in $breakpoints {
  @include breakpoint($key) {
    @include displayMxn($key);
  }
}
