@mixin marginMxn($breakpoint: '') {
  $breakpoint-suffix: if($breakpoint == '', '', '\\@' + $breakpoint);

  .m-auto#{$breakpoint-suffix} {
    margin: auto;
  }

  .mt-auto#{$breakpoint-suffix} {
    margin-top: auto;
  }

  .mr-auto#{$breakpoint-suffix} {
    margin-right: auto;
  }

  .mb-auto#{$breakpoint-suffix} {
    margin-bottom: auto;
  }

  .ml-auto#{$breakpoint-suffix} {
    margin-left: auto;
  }

  .mx-auto#{$breakpoint-suffix} {
    margin-left: auto;
    margin-right: auto;
  }

  .my-auto#{$breakpoint-suffix} {
    margin-top: auto;
    margin-bottom: auto;
  }
}

@include marginMxn();

@each $key, $value in $breakpoints {
  @include breakpoint($key) {
    @include marginMxn($key);
  }
}
