$margin-breakpoints: null !default;

@mixin marginMxn($breakpoint: '') {
  $breakpoint-suffix: if($breakpoint == '', '', '\\@' + $breakpoint);

  .u-m-auto#{$breakpoint-suffix} {
    margin: auto;
  }

  .u-mt-auto#{$breakpoint-suffix} {
    margin-top: auto;
  }

  .u-mr-auto#{$breakpoint-suffix} {
    margin-right: auto;
  }

  .u-mb-auto#{$breakpoint-suffix} {
    margin-bottom: auto;
  }

  .u-ml-auto#{$breakpoint-suffix} {
    margin-left: auto;
  }

  .u-mx-auto#{$breakpoint-suffix} {
    margin-left: auto;
    margin-right: auto;
  }

  .u-my-auto#{$breakpoint-suffix} {
    margin-top: auto;
    margin-bottom: auto;
  }
}

@include marginMxn();

@each $key in $margin-breakpoints {
  @include breakpoint($key) {
    @include marginMxn($key);
  }
}
