@mixin textAlignMxn($breakpoint: '') {
  $breakpoint-suffix: if($breakpoint == '', '', '\\@' + $breakpoint);

  .text-left#{$breakpoint-suffix} {
    text-align: left;
  }

  .text-center#{$breakpoint-suffix} {
    text-align: center;
  }

  .text-right#{$breakpoint-suffix} {
    text-align: right;
  }
}

@include textAlignMxn();

@each $key, $value in $breakpoints {
  @include breakpoint($key) {
    @include textAlignMxn($key);
  }
}
