$text-align-breakpoints: null !default;

@mixin textAlignMxn($breakpoint: '') {
  $breakpoint-suffix: if($breakpoint == '', '', '\\@' + $breakpoint);

  .u-text-left#{$breakpoint-suffix} {
    text-align: left;
  }

  .u-text-center#{$breakpoint-suffix} {
    text-align: center;
  }
}

@include textAlignMxn();

@each $key in $text-align-breakpoints {
  @include breakpoint($key) {
    @include textAlignMxn($key);
  }
}
