{% from "_macros/_open-graph.njk" import OpenGraph %}
{% from "_macros/_seo.njk" import Seo %}
{% from "_macros/_twitter-card.njk" import TwitterCard %}

<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{ Seo({
      "seoTitle": "Page title",
      "seoDescription": "Page description"
    }) }}

    {{ OpenGraph({
      "ogTitle": "Page title",
      "ogDescription": "Page description",
      "ogUrl": "https://",
      "ogImageSrc": "https://",
      "ogImageWidth": "1200",
      "ogImageHeight": "630"
    }) }}

    {{ TwitterCard({
      "twitterCard": "",
      "twitterSite": "@username",
      "twitterTitle": "Page title",
      "twitterDescription": "Page description",
      "twitterImage": "https://",
      "twitterImageAlt": ""
    }) }}

    {% block styles %}
      <link rel="stylesheet" type="text/css" href="/_assets/css/index.css">
    {% endblock %}
  </head>

  <body class="d-flex flex-column" id="top" style="min-height:100%">
    {% block cookiesAlert %}
      <div id="cookies-alert" class="cookies-alert">
        <div class="card">
          <div class="card-body">
            <p class="card-text">This site uses cookies to make sure you have the best experience.
              <a href="#">Read our cookie policy</a>
            </p>

            <button class="btn btn-primary" role="button" data-js="Toggler" data-js-options='[{"target": "#cookies-alert", "activeClass": "d-none"}]'>Close</button>
          </div>
        </div>
      </div>
    {% endblock %}

    {% block skipNav %}
      <nav class="sr-only">
        <a href="#content">Skip to Main Content</a>
      </nav>
    {% endblock %}

    <header class="header">
      {% block header %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container">
            <a class="navbar-brand" href="/">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
      {% endblock %}
    </header>

    <main id="content">
      {% block main %}{% endblock %}
    </main>

    <footer class="footer mt-auto">
      {% block footer %}
        <div class="container">
          <div class="grid">
            <div class="cell cell-md-9">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, aperiam?</p>
            </div>
            <div class="cell cell-md-3 text-md-right">
              <p>
                <a href="/library">Library</a>
              </p>
            </div>
          </div>
        </div>
      {% endblock %}
    </footer>

    {% block scripts %}
      <script src="/_assets/js/index.js"></script>
    {% endblock %}
  </body>
</html>
