{% from "_macros/_open-graph.njk" import OpenGraph %}
{% from "_macros/_seo.njk" import Seo %}
{% from "_macros/_twitter-card.njk" import TwitterCard %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{ Seo({
      "seoTitle": "Page title",
      "seoDescription": "Page description"
    }) }}

    {{ OpenGraph({
      "ogTitle": "Page title",
      "ogDescription": "Page description",
      "ogUrl": "https://",
      "ogImageSrc": "https://",
      "ogImageWidth": "1200",
      "ogImageHeight": "630"
    }) }}

    {{ TwitterCard({
      "twitterCard": "",
      "twitterSite": "@username",
      "twitterTitle": "Page title",
      "twitterDescription": "Page description",
      "twitterImage": "https://",
      "twitterImageAlt": ""
    }) }}

    {% block styles %}
      <link rel="stylesheet" type="text/css" href="/_assets/css/index.css">
    {% endblock %}
  </head>

  <body class="page" id="top">
    {% block cookiesAlert %}
      <div id="cookies-alert" class="cookies-alert">
        <div class="cookies-alert__dialog">
          <p>This site uses cookies to make sure you have the best experience.
            <a href="#">Read our cookie policy</a>
          </p>

          <button class="btn" role="button" data-js="Toggler" data-js-options='[{"target": "#cookies-alert", "activeClass": "d-none"}]'>Close</button>
        </div>
      </div>
    {% endblock %}

    {% block skipNav %}
      <nav class="sr-only">
        <a href="#content">Skip to Main Content</a>
      </nav>
    {% endblock %}

    <header class="header">
      {% block header %}
        <div class="container">
          <div class="navbar">
            <a href="/">
              <img src="//via.placeholder.com/100x30?text=Logo" alt="Logo">
            </a>
          </div>
        </div>
      {% endblock %}
    </header>

    <main id="content">
      {% block main %}{% endblock %}
    </main>

    <footer class="footer mt-auto">
      {% block footer %}
        <div class="container">
          <div class="row">
            <div class="col col-9@md">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, aperiam?</p>
            </div>
            <div class="col col-3@md text-right@md">
              <p>
                <a href="/library">Library</a>
              </p>
            </div>
          </div>
        </div>
      {% endblock %}
    </footer>

    {% block scripts %}
      <script src="/_assets/js/index.js"></script>
    {% endblock %}
  </body>
</html>
