{# Import Head Macros #}
{%- from "_macros/_open-graph.njk" import OpenGraph -%}
{%- from "_macros/_seo.njk" import Seo -%}
{%- from "_macros/_twitter-card.njk" import TwitterCard -%}

{# Import Block Macros #}
{%- from "_macros/blocks/_accordion.njk" import Accordion -%}
{%- from "_macros/blocks/_card-deck.njk" import CardDeck -%}
{%- from "_macros/blocks/_hero.njk" import Hero -%}
{%- from "_macros/blocks/_spread.njk" import Spread -%}

<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{ Seo({
      "seoTitle": "Page title",
      "seoDescription": "Page description"
    }) }}

    {{ OpenGraph({
      "ogTitle": "Page title",
      "ogDescription": "Page description",
      "ogUrl": "https://",
      "ogImageSrc": "https://",
      "ogImageWidth": "1200",
      "ogImageHeight": "630"
    }) }}

    {{ TwitterCard({
      "twitterCard": "",
      "twitterSite": "@username",
      "twitterTitle": "Page title",
      "twitterDescription": "Page description",
      "twitterImage": "https://",
      "twitterImageAlt": ""
    }) }}

    {% block styles %}
      <link rel="stylesheet" type="text/css" href="/assets/css/main.css?cbt=1">
    {% endblock %}
  </head>

  <body class="d-flex flex-column" id="top" style="min-height:100%">
    {% block cookieConsent %}
      {% include "_includes/_cookie-consent.njk" %}
    {% endblock %}

    {% block skipNav %}
      {% include "_includes/_skip-nav.njk" %}
    {% endblock %}

    {% block header %}
      {% include "_includes/_header.njk" %}
    {% endblock %}

    <main id="content">
      {% block main %}{% endblock %}
    </main>

    {% block footer %}
      {% include "_includes/_footer.njk" %}
    {% endblock %}

    {% block scripts %}
      <script src="/assets/js/main.js?cbt=1"></script>
    {% endblock %}
  </body>
</html>