{% extends "_layouts/_master.njk" %}

{% block main -%}

  <div class="container">
    <div class="mt-5 mb-4">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">HTML</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">JS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CSS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nunjucks</a>
        </li>
      </ul>
    </div>

    <div class="grid">
      <div class="cell cell-lg-3">
        {% block sideBar %}
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Layout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Components</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Utilities</a>
            </li>
          </ul>
        {% endblock %}
      </div>

      <div class="cell cell-lg-9">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>

{%- endblock %}
