.footer {
  padding: ($spacer * 2) 0 $spacer;
  font-size: 0.8rem;
  color: $white;
  background: $dark;

  a {
    color: $white;
  }
}

.footer__logo {
  margin: 0 0 $spacer;
}

.footer__links {
  margin-bottom: ($spacer * 2);

  ul {
    margin: 0;
  }

  a {
    padding: ($spacer * 0.2) 0;
    display: inline-block;
  }
}

.footer__heading {
  margin-bottom: $spacer;
  font-size: ($spacer * 0.9);
  color: $white;
}

.footer__social {
  display: inline-flex;
  margin-bottom: ($spacer * 2);

  li {
    margin-left: ($spacer * 1.5);

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 26px;
    overflow: hidden;
    font-size: 26px;
    text-align: center;

    .fab {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &:hover {
      color: rgba($white, 0.5);
    }
  }
}
