.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

@include media-breakpoint-down(md) {
  .navbar {
    padding-right: 0;
    padding-left: 0;

    > .container {
      padding-right: $spacer;
      padding-left: $spacer;
    }
  }
}
