$activeClassName: "-navbarMenuExpanded";

html.#{$activeClassName} {
  @apply overflow-hidden;
}

.Navbar {
  height: var(--navbar-height);

  @apply bg-brand-primary;
  @apply text-white;
  @apply py-3;
  @apply sticky;
}

.Navbar-Logo {
  @apply inline-flex;
  @apply p-0;
}

.Navbar-MenuToggler {
  @apply ml-auto;
  @apply p-3;

  @screen lg {
    @apply hidden;
  }
}

.Navbar-Menu {
  top: var(--navbar-height);

  @apply bg-brand-primary;
  @apply overflow-y-auto;
  @apply hidden;
  @apply fixed;
  @apply right-0;
  @apply bottom-0;
  @apply left-0;
  @apply ml-auto;

  @screen lg {
    @apply top-0;
    @apply block;
    @apply bg-transparent;
    @apply relative;
    @apply overflow-y-visible;
  }

  html.#{$activeClassName} & {
    @apply block;
  }
}
