.spread__img {
  position: relative;

  img {
    width: 100%;
  }
}

.spread__img-caption {
  position: absolute;
  bottom: $spacer;
  left: $spacer;
  margin-bottom: 0;
  color: $white;
}

.spread__text {
  .container {
    padding-top: ($spacer * 2);
    padding-bottom: ($spacer * 2);

    :last-child {
      margin-bottom: 0 !important;
    }
  }
}

@include media-breakpoint-up(md) {
  .spread {
    display: flex;
    justify-content: center;

    &:not(.container) {
      max-width: 100%;
    }
  }

  .spread__img {
    display: flex;
    flex: 0 0 50%;
    max-width: 50%;

    picture {
      display: flex;
      flex: 0 0 100%;
      max-width: 100%;
    }

    img {
      flex: 0 0 100%;
      max-width: 100%;
      object-fit: cover;
      object-position: 100% 100%;
    }
  }

  .spread__text {
    flex: 0 0 50%;
    align-self: center;
    max-width: 50%;

    .container {
      flex: 0 0 (map-get($container-max-widths, md) / 2);
      max-width: (map-get($container-max-widths, md) / 2);
      padding-left: $grid-gutter-width;
      margin-left: 0;
    }
  }

  .spread--img-right {
    .spread__img {
      order: 2;
    }

    .spread__img-caption {
      right: $spacer;
      left: auto;
    }

    .spread__text {
      order: 1;

      .container {
        padding-right: $grid-gutter-width;
        padding-left: $grid-gutter-width / 2;
        margin-right: 0;
        margin-left: auto;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .spread__text {
    .container {
      flex: 0 0 (map-get($container-max-widths, lg) / 2);
      max-width: (map-get($container-max-widths, lg) / 2);
      padding-top: $spacer * 3;
      padding-bottom: $spacer * 3;
      padding-left: $grid-gutter-width * 2;
    }
  }

  .spread--img-right {
    .spread__text {
      .container {
        padding-right: $grid-gutter-width * 2;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .spread__text {
    .container {
      flex: 0 0 (map-get($container-max-widths, xl) / 2);
      max-width: (map-get($container-max-widths, xl) / 2);
    }
  }
}

@media only screen and (min-width: 1921px) {
  .spread__img,
  .spread__text {
    flex: 0 0 940px;
    max-width: 940px;
  }
}
