{% macro Footer(socialMediaLinks) %}
  <footer id="footer" class="Footer dark-bg">
    <div class="container">
      {% if socialMediaLinks %}
        <h4>Follow us</h4>

        <div class="flex flex-wrap">
          <div class="Footer-Social">
            {% for link in socialMediaLinks %}
              <a href="{{ link.href }}" target="_blank" title="{{ link.platform }}" rel="noopener">
                <span class="fab {{ link.faClass }}"></span>
                <span class="visually-hidden">{{ link.platform }}</span>
              </a>
            {% endfor %}
          </div>
        </div>
      {% endif %}

      <p>©2020 Copyright text.</p>
    </div>
  </footer>
{% endmacro %}

{{ Footer(
  [
    {
      "platform": "Instagram",
      "faClass": "fa-instagram",
      "href": "https://www.instagram.com/"
    },
    {
      "platform": "Facebook",
      "faClass": "fa-facebook-f",
      "href": "https://www.facebook.com/"
    },
    {
      "platform": "Twitter",
      "faClass": "fa-twitter",
      "href": "https://twitter.com/"
    }
  ]
) }}