{% macro Navbar(menuItems) -%}
  <header id="navbar" class="Navbar dark-bg">
    <div class="container flex items-center">
      <a href="/" class="Navbar-Logo">
        <img src="https://via.placeholder.com/140x40?text=LOGO" alt="Logo" width="140" height="40">
      </a>

      <button
        id="menu-toggler"
        class="Navbar-MenuToggler"
        type="button"
        aria-controls="menu"
        aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
      </button>

      <div id="menu" class="Navbar-Menu">
        <div class="container lg:flex">
          <nav>
            {% for item in menuItems %}
              {% if item.children.length %}
                <div class="relative" data-js="Dropdown">
                  <div>
                    <a href="{{ item.href }}">{{ item.label }}</a>
                    <button id="navDropdown{{ loop.index }}" class="js-Toggler" aria-haspopup="true" aria-expanded="false">Down</button>
                  </div>

                  <div class="Dropdown js-Dropdown" aria-labelledby="navDropdown{{ loop.index }}">
                    {% for child in item.children %}
                      <a href="{{ child.href }}">{{ child.label }}</a>
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                <a href="{{ item.href }}">{{ item.label }}</a>
              {% endif %}
            {% endfor %}
          </nav>
        </div>
      </div>
    </div>
  </header>
{% endmacro %}

{{ Navbar(
  [
    {
      "label": "Item",
      "href": "#"
    },
    {
      "label": "Parent",
      "href": "#",
      "children": [
        {
          "label": "Sub item 1",
          "href": "#"
        },
        {
          "label": "Sub item 2",
          "href": "#"
        }
      ]
    }
  ]
) }}