{% macro OpenGraph(data) %}
  {% if data.ogTitle %}
    <meta property="og:title" content="{{ data.ogTitle }}">
  {% endif %}

  {% if data.ogDescription %}
    <meta property="og:description" content="{{ data.ogDescription }}">
  {% endif %}

  {% if data.ogUrl %}
    <meta property="og:url" content="{{ data.ogUrl }}">
  {% endif %}

  {% if data.ogImageSrc %}
    <meta property="og:image" content="{{ data.ogImageSrc }}">
  {% endif %}

  {% if data.ogImageSrc and data.ogImageWidth %}
    <meta property="og:image:width" content="{{ data.ogImageWidth }}">
  {% endif %}

  {% if data.ogImageSrc and data.ogImageHeight %}
    <meta property="og:image:height" content="{{ data.ogImageHeight }}">
  {% endif %}
{% endmacro %}

{{ OpenGraph({
  "ogTitle": "Page title",
  "ogDescription": "Page description",
  "ogUrl": "https://",
  "ogImageSrc": "https://",
  "ogImageWidth": "1200",
  "ogImageHeight": "630"
}) }}