{% macro SkipNav(data) -%}
  <nav class="SkipNav">
    <div class="container mx-auto">
      {% for item in data.items %}
        <a href="{{ item.href }}" class="SkipNav-Link">{{ item.label }}</a>
      {% endfor %}
    </div>
  </nav>
{% endmacro %}

{{ SkipNav({
  "items": [
    {
      "label": "Skip to Main Content",
      "href": "#content"
    },
    {
      "label": "Skip to Footer",
      "href": "#footer"
    }
  ]
}) }}