{% macro SkipNav(data) -%}
  <nav class="SkipNav dark-bg">
    <div class="container">
      {% for item in data.items %}
        <a href="{{ item.href }}">{{ item.label }}</a>
      {% endfor %}
    </div>
  </nav>
{% endmacro %}

{{ SkipNav({
  "items": [
    {
      "label": "Skip to Main Content",
      "href": "#content"
    },
    {
      "label": "Skip to Footer",
      "href": "#footer"
    }
  ]
}) }}