{% macro TextInput(data) -%}

  {% if data.required %}
    {% set required = 'required' %}
  {% else %}
    {% set required = '' %}
  {% endif %}

  {% if data.validation_message %}
    {% set validation_message = 'data-validation-message="' + data.validation_message + '"' %}
  {% else %}
    {% set validation_message = '' %}
  {% endif %}

  {% if data.disabled %}
    {% set disabled = 'disabled' %}
  {% else %}
    {% set disabled = '' %}
  {% endif %}

  {% if data.readonly %}
    {% set readonly = 'readonly' %}
  {% else %}
    {% set readonly = '' %}
  {% endif %}

  {% if data.classes %}
    {% set classes = data.classes %}
  {% else %}
    {% set classes = '' %}
  {% endif %}

  {% if data.type %}
    {% set type = data.type %}
  {% else %}
    {% set type = 'text' %}
  {% endif %}

  {% if data.type === "number" %}
    {% if data.min %}
      {% set min = 'min="' + data.min + '"'%}
    {% else %}
      {% set min = ''%}
    {% endif %}

    {% if data.max %}
      {% set max = 'max="' + data.max + '"'%}
    {% else %}
      {% set max = ''%}
    {% endif %}
  {% endif %}

  {% if data.pattern %}
    {% set pattern = 'pattern="' + data.pattern + '"'%}
  {% else %}
    {% set pattern = '' %}
  {% endif %}

  {% if data.maxlength %}
    {% set maxlength = 'maxlength=' + data.maxlength %}
  {% else %}
    {% set maxlength = '' %}
  {% endif %}

  <label class="c-form-label c-form-label--block" for="{{ data.id }}">{{ data.label | safe }}
    {% if data.required -%}
      <span class="c-form-required"></span>
    {%- endif %}

    {% if data.tooltip %}
      <div class="c-tooltip-icon" data-module="Toggle" data-options='[{"target": "#tooltip-{{ data.name }}", "disablePageScroll": true}]'></div>

      <div class="c-tooltip {{ data.modifiers }}" id="tooltip-{{ data.field_name }}">
        <div class="c-tooltip__close" data-module="Toggle" data-options='[{"target": "#tooltip-{{ data.name }}"}]'>Close</div>

        <div class="c-tooltip__body">
          {{ data.tooltip|safe }}
        </div>
      </div>
    {% endif %}

    <span class="c-form-message" data-field-name="{{ data.name }}"></span>
  </label>

  {% if data.type == "textarea" %}
    <textarea class="c-form-control {{ classes }}" name="{{ data.name }}" id="{{ data.id }}" data-module="Validate" {{min|safe}} {{max| safe}} {{ pattern|safe }} {{ maxlength|safe }} {{ validation_message|safe }} {{ disabled|safe }} {{ required|safe }} {{ readonly|safe }}></textarea>
  {% else %}
    <input class="c-form-control {{ classes }}" type="{{ type }}" name="{{ data.name }}" id="{{ data.id }}" data-module="Validate" {{min|safe}} {{max| safe}} {{ pattern|safe }} {{ maxlength|safe }} {{ validation_message|safe }} {{ disabled|safe }} {{ required|safe }} {{ readonly|safe }}>
  {% endif %}

{%- endmacro %}

<div class="c-form-group">
  {{ TextInput({
    "label": "Default (Primary)",
    "name": "text-input_name",
    "id": "text-input_1",
    "type": "",
    "classes": "",
    "tooltip": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit, quaerat?",
    "required": true,
    "validation_message": "Lorem ipsum dolor sit amet.",
    "disabled": false,
    "readonly": false,
    "pattern": "",
    "maxlength": "",
    "min": "",
    "max": ""
  }) }}
</div>
