// OPTIONS

$enable-caret:                                true;
$enable-rounded:                              false;
$enable-shadows:                              false;
$enable-gradients:                            false;
$enable-transitions:                          false;
$enable-prefers-reduced-motion-media-query:   false;
$enable-grid-classes:                         true;
$enable-pointer-cursor-for-buttons:           true;
$enable-print-styles:                         true;
$enable-responsive-font-sizes:                false;
$enable-validation-icons:                     true;
$enable-deprecation-messages:                 true;
