<footer class="footer mt-auto" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="footer__logo">
          <a href="/" title="Home">
            <img src="https://via.placeholder.com/140x40?text=LOGO" alt="Logo" width="140" height="40">
          </a>
        </div>
      </div>

      <div class="col-md-8 col-lg-6">
        <div class="row footer__links">
          <div class="col-sm-4">
            <ul class="list-unstyled">
              <li>
                <a href="/generic-test/" title="Test">Lorem ipsum</a>
              </li>

              <li>
                <a href="/generic-test/" title="Test">Lorem ipsum</a>
              </li>

              <li>
                <a href="/generic-test/" title="Test">Lorem ipsum</a>
              </li>

              <li>
                <a href="/generic-test/" title="Test">Lorem ipsum</a>
              </li>
            </ul>
          </div>

          <div class="col-sm-4">
            <ul class="list-unstyled">
              <li>
                <a href="/generic-test/" title="Test">Lorem ipsum</a>
              </li>

              <li>
                <a href="/generic-test/" title="Test">Lorem ipsum</a>
              </li>

              <li>
                <a href="/generic-test/" title="Test">Lorem ipsum</a>
              </li>

              <li>
                <a href="/generic-test/" title="Test">Lorem ipsum</a>
              </li>
            </ul>
          </div>

          <div class="col-sm-4">
            <ul class="list-unstyled">
              <li>
                <a href="/generic-test/" title="Test">Lorem ipsum</a>
              </li>

              <li>
                <a href="/generic-test/" title="Test">Lorem ipsum</a>
              </li>

              <li>
                <a href="/generic-test/" title="Test">Lorem ipsum</a>
              </li>

              <li>
                <a href="/generic-test/" title="Test">Lorem ipsum</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-3 ml-auto text-md-right">
        <h4 class="footer__heading">Follow us</h4>

        <ul class="list-unstyled footer__social">
          <li>
            <a href="https://www.instagram.com/" target="_blank" title="Instagram">
              <span class="fab fa-instagram"></span>
              <span class="sr-only">Instagram</span>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com" target="_blank" title="Twitter">
              <span class="fab fa-twitter"></span>
              <span class="sr-only">Twitter</span>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com" target="_blank" title="Facebook">
              <span class="fab fa-facebook-f"></span>
              <span class="sr-only">Facebook</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <p>©2020 Copyright text.</p>
  </div>
</footer>