.Hamburger {
  --hamburger-size: 25px;
  --hamburger-color: #fff;

  position: relative;
  height: var(--hamburger-size);
  width: calc(var(--hamburger-size) * 1.3);

  div {
    width: 100%;
    height: calc(var(--hamburger-size) / 6);
    background-color: var(--hamburger-color);
    position: absolute;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(3) {
      bottom: 0;
    }
  }
}