{% extends "_layouts/_master.njk" %}

{% block main -%}

  {{ Hero(
    {
      "container": false,
      "image": {
        "xs": "https://picsum.photos/id/770/768",
        "md": "https://picsum.photos/id/770/1200/600",
        "lg": "https://picsum.photos/id/770/1920/700"
      },
      "title": "Hero Image",
      "body": "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut libero numquam sapiente dolores voluptates praesentium saepe dicta exercitationem pariatur ipsum!",
      "cta": {
        "link": "#",
        "label": "Find out more"
      }
    },
    media
  ) }}

  {{ Hero(
    {
      "container": false,
      "vimeoId": "130679467",
      "title": "Hero Vimeo Video",
      "body": "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut libero numquam sapiente dolores voluptates praesentium saepe dicta exercitationem pariatur ipsum!",
      "cta": {
        "link": "#",
        "label": "Find out more"
      }
    },
    media
  ) }}

  {{ Hero(
    {
      "container": false,
      "html5Video": "http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4",
      "title": "Hero HTML5 Video",
      "body": "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut libero numquam sapiente dolores voluptates praesentium saepe dicta exercitationem pariatur ipsum!",
      "cta": {
        "link": "#",
        "label": "Find out more"
      }
    },
    media
  ) }}

{%- endblock %}