{# Import Macros #}
{%- from "_macros/_Seo.njk" import Seo -%}

<!DOCTYPE html>
<html lang="en" dir="ltr" class="h-full">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{ Seo({
      "seoUrl": page.pageUrl,
      "seoTitle": page.pageTitle,
      "seoDescription": page.pageDescription
    }) }}

    {% block styles %}
      <link rel="stylesheet" type="text/css" href="/assets/css/main.css?cbt=1">
    {% endblock %}
  </head>

  <body class="flex flex-col min-h-full" id="top">
    <main id="content">
      {% block main %}{% endblock %}
    </main>

    {% block scripts %}
      <script src="/assets/js/main.js?cbt=1"></script>
    {% endblock %}
  </body>
</html>