{% from "_macros/_seo.njk" import Seo %}
{% from "_macros/_open-graph.njk" import OpenGraph %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{ Seo({
      "seoTitle": "Page title",
      "seoDescription": "Page description"
    }) }}

    {{ OpenGraph({
      "ogTitle": "Page title",
      "ogDescription": "Page description",
      "ogUrl": "",
      "ogImageSrc": "dfdf",
      "ogImageWidth": "1200",
      "ogImageHeight": "630"
    }) }}

    <link rel="stylesheet" type="text/css" href="/_assets/css/index.css">
  </head>

  <body class="l-page" id="top">
    {% block cookie_alert %}
      <div id="cookies-alert" class="c-cookies-alert">
        <p>This site uses cookies to make sure you have the best experience.
          <a href="#">Read our cookie policy</a>
        </p>
        <button id="close-cookies-alert" role="button">Close</button>
      </div>
    {% endblock %}

    {% block skip_link %}
      <div class="u-sr-only">
        <a href="#content">Skip to Main Content</a>
      </div>
    {% endblock %}

    <header class="l-page__header c-header">
      {% block header %}{% endblock %}
    </header>

    <main id="content">
      {% block main %}{% endblock %}
    </main>

    <footer class="l-page__footer c-footer">
      {% block footer %}
        <div class="l-container">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, aperiam?</p>
        </div>
      {% endblock %}
    </footer>

    {% block scripts %}
      <script src="/_assets/js/index.js"></script>
    {% endblock %}
  </body>
</html>
