{% macro Footer(socialMediaLinks) %}
  <footer class="footer mt-auto" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="footer__logo">
            <a href="/" title="Home">
              <img data-src="https://via.placeholder.com/140x40?text=LOGO" alt="Logo" width="140" height="40" class="js-lazy"></a>
          </div>
        </div>

        <div class="col-md-8 col-lg-6">
          <div class="row footer__links">
            <div class="col-sm-4">
              <ul class="list-unstyled">
                <li>
                  <a href="/generic-test/" title="Test">Lorem ipsum</a>
                </li>
                <li>
                  <a href="/generic-test/" title="Test">Lorem ipsum</a>
                </li>
                <li>
                  <a href="/generic-test/" title="Test">Lorem ipsum</a>
                </li>
                <li>
                  <a href="/generic-test/" title="Test">Lorem ipsum</a>
                </li>
              </ul>
            </div>

            <div class="col-sm-4">
              <ul class="list-unstyled">
                <li>
                  <a href="/generic-test/" title="Test">Lorem ipsum</a>
                </li>
                <li>
                  <a href="/generic-test/" title="Test">Lorem ipsum</a>
                </li>
                <li>
                  <a href="/generic-test/" title="Test">Lorem ipsum</a>
                </li>
                <li>
                  <a href="/generic-test/" title="Test">Lorem ipsum</a>
                </li>
              </ul>
            </div>

            <div class="col-sm-4">
              <ul class="list-unstyled">
                <li>
                  <a href="/generic-test/" title="Test">Lorem ipsum</a>
                </li>
                <li>
                  <a href="/generic-test/" title="Test">Lorem ipsum</a>
                </li>
                <li>
                  <a href="/generic-test/" title="Test">Lorem ipsum</a>
                </li>
                <li>
                  <a href="/generic-test/" title="Test">Lorem ipsum</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        {% if socialMediaLinks %}
          <div class="col-md-4 col-lg-3 ms-auto text-md-right">
            <h4 class="footer__heading">Follow us</h4>

            <ul class="list-unstyled footer__social">
              {% for link in socialMediaLinks %}
                <li>
                  <a href="{{ link.href }}" target="_blank" title="{{ link.platform }}" rel="noopener">
                    <span class="fab {{ link.faClass }}"></span>
                    <span class="visually-hidden">{{ link.platform }}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>

      <p>©2020 Copyright text.</p>
    </div>
  </footer>
{% endmacro %}

{{ Footer(
  [
    {
      "platform": "Instagram",
      "faClass": "fa-instagram",
      "href": "https://www.instagram.com/"
    },
    {
      "platform": "Facebook",
      "faClass": "fa-facebook-f",
      "href": "https://www.facebook.com/"
    },
    {
      "platform": "Twitter",
      "faClass": "fa-twitter",
      "href": "https://twitter.com/"
    }
  ]
) }}