{% macro Hero(data, media) -%}
  {% set container = " container" if data.container else 
    "" %}

  <div class="hero{{ container }}">
    {% if data.html5Video or data.vimeoId %}
      <div class="hero__video">
        <div class="hero__video-container loader">
          <div class="ratio ratio-16x9" data-js="VideoBackgroundCover">
            {% if data.vimeoId %}
              <iframe
                data-src="https://player.vimeo.com/video/{{ data.vimeoId }}?autoplay=1&loop=1&title=0&byline=0&portrait=0"
                class="embed-responsive-item js-lazy"
                width="640"
                height="360"
                frameborder="0"
                allow="autoplay; fullscreen"
                allowfullscreen="allowfullscreen"></iframe>
            {% elif data.html5Video %}
              <video width="640" height="360" autoplay="autoplay" loop="loop" muted="muted" class="embed-responsive-item js-lazy">
                <source data-src="{{ data.html5Video }}" type="video/mp4"></video>
            {% endif %}
          </div>
        </div>
      </div>

    {% elif data.image %}
      <div class="hero__img">
        <picture>
          <source media="{{ media.lg }}" data-srcset="{{ data.image.lg }}"/>
          <source media="{{ media.md }}" data-srcset="{{ data.image.md }}"/>
          <source data-srcset="{{ data.image.xs }}"/>
          <img data-src="{{ data.image.lg }}" alt="" width="1920" height="700" class="js-lazy"/>
        </picture>
      </div>
    {% endif %}

    <div class="hero__overlay">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6">
            {% if data.title %}
              <h1>{{ data.title }}</h1>
            {% endif %}

            {% if data.body %}
              <p>{{ data.body }}</p>
            {% endif %}

            {% if data.cta.link and data.cta.label %}
              <a href="{{ data.cta.link }}" class="btn btn-primary">{{ data.cta.label }}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{{ Hero(
  {
    "container": false,
    "image": {
      "xs": "https://picsum.photos/id/770/768",
      "md": "https://picsum.photos/id/770/1200/600",
      "lg": "https://picsum.photos/id/770/1920/700"
    },
    "html5Video": "",
    "vimeoId": "130679467",
    "title": "Hero",
    "body": "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut libero numquam sapiente dolores voluptates praesentium saepe dicta exercitationem pariatur ipsum!",
    "cta": {
      "link": "#",
      "label": "Find out more"
    }
  },
  {
    "md": "(min-width: 768px)",
    "lg": "(min-width: 992px)"
  }
) }}