{% macro Navbar(data) -%}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://via.placeholder.com/140x40?text=LOGO" alt="Logo" width="140" height="40">
      </a>

      <button class="navbar-toggler" type="button" data-js="NavCollapse" data-js-data='[{"target": "#mainNav"}]' aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="sr-only">Menu</span>
      </button>

      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ml-auto">
          {% for item in data.menuItems %}
            {% if item.children.length %}
              <li class="nav-item dropdown" data-js="Dropdown">
                <a class="nav-link dropdown-toggle js-toggler" href="{{ item.href }}" id="dropdown{{ loop.index }}" role="button" aria-haspopup="true" aria-expanded="false">{{ item.label }}</a>

                <div class="dropdown-menu js-dropdown" aria-labelledby="dropdown{{ loop.index }}">
                  {% for child in item.children %}
                    <a class="dropdown-item" href="{{ child.href }}">{{ child.label }}</a>
                  {% endfor %}
                </div>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ item.href }}">{{ item.label }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>

        <form class="form-inline mt-1 mt-lg-0 ml-lg-4">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-primary mt-1 mt-sm-0 ml-sm-1" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
{% endmacro %}

{{ Navbar({
  "menuItems": [
    {
      "label": "Item",
      "href": "#"
    },
    {
      "label": "Parent",
      "href": "#",
      "children": [
        {
          "label": "Sub item 1",
          "href": "#"
        },
        {
          "label": "Sub item 2",
          "href": "#"
        }
      ]
    }
  ]
}) }}