{% macro SkipNav(data) -%}
  <nav class="skip-nav">
    {% for item in data.items %}
      <a href="{{ item.href }}">{{ item.label }}</a>
    {% endfor %}
  </nav>
{% endmacro %}

{{ SkipNav({
  "items": [
    {
      "label": "Skip to Main Content",
      "href": "#content"
    },
    {
      "label": "Skip to Footer",
      "href": "#footer"
    }
  ]
}) }}