{% macro Spread(data, media) -%}

  {% set imageRight = " spread--img-right" if data.imageRight else "" %}
  {% set container = " container" if data.container else 
    "" %}

  <div class="spread{{ imageRight }}{{ container }}">
    <div class="spread__img">
      <picture>
        <source media="{{ media.md }}" data-srcset="{{ data.image.md }}"/>
        <source data-srcset="{{ data.image.xs }}"/>
        <img data-src="{{ data.image.md }}" alt="" width="960" height="960" class="js-lazy"/>
      </picture>

      {% if data.img_caption %}
        <p class="spread__img-caption">{{ data.img_caption }}</p>
      {% endif %}
    </div>

    <div class="spread__text">
      <div class="container">
        {% if data.title %}
          <h2 class="h1">{{ data.title|safe }}</h2>
        {% endif %}

        {% if data.body_text %}
          {{ data.body_text|safe }}
        {% endif %}

        {% if data.cta.href and data.cta.label %}
          <a href="{{ data.cta.href }}" class="btn btn-primary">{{ data.cta.label }}</a>
        {% endif %}
      </p>
    </div>
  </div>
</div>

{%- endmacro %}

{{ Spread(
  {
    "imageRight": false,
    "container": false,
    "image": {
      "xs": "https://picsum.photos/id/770/768/500",
      "md": "https://picsum.photos/id/770/960"
    },
    "title": "",
    "body_text": "",
    "cta": {
      "href": "",
      "label": ""
    },
    "img_caption": ""
  },
  {
    "md": "(min-width: 768px)"
  }
) }}