{% macro Spread(data) -%}

  {% set imageRight = " spread--img-right" if data.imageRight else "" %}
  {% set container = " container" if data.container else 
    "" %}

  <div class="spread{{ imageRight }}{{ container }}">
    <div class="spread__img">
      <picture>
        <source media="(min-width: 768px)" data-srcset="https://picsum.photos/id/770/960"/>
        <source data-srcset="https://picsum.photos/id/770/768/500"/>
        <img data-src="https://picsum.photos/id/770/960" alt="" width="960" height="960" class="js-lazy"/>
      </picture>

      {% if data.img_caption %}
        <p class="spread__img-caption">{{ data.img_caption }}</p>
      {% endif %}
    </div>

    <div class="spread__text">
      <div class="container">
        {% if data.title %}
          <h2 class="h1">{{ data.title|safe }}</h2>
        {% endif %}

        {% if data.body_text %}
          {{ data.body_text|safe }}
        {% endif %}

        {% if data.cta.href and data.cta.label %}
          <a href="{{ data.cta.href }}" class="btn btn-primary">{{ data.cta.label }}</a>
        {% endif %}
      </p>
    </div>
  </div>
</div>

{%- endmacro %}

{{ Spread({
  "imageRight": false,
  "container": false,
  "title": "",
  "body_text": "",
  "cta": {
    "href": "",
    "label": ""
  },
  "img_caption": ""
}) }}